{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <style>
        html, body {
            font-family: 'Montserrat', sans-serif;
        }
        .head_btn{
            border-radius: 3px;
            border: 2px solid #372C9D;
            background: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: #372C9D;
            width: 161px;
            height: 36px;
            margin-top: 15px;
        }
        .personal_area{
            width: 100%;
            padding: 20px 20px 20px 20px;
            border-radius: 7px;
            background: #372C9D;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            color: white;
        }
        .personal_area h3{
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            padding-top: 4%;
        }
        .personal_area h4{
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }
        .personal_area h5{
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            padding-top: 7%;
        }
        .personal_area button{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: #372C9D;
            border-radius: 3px;
            background: #FFF;
            padding: 8px 16px;
            border: none;
        }
        .zakaz{
            width: 100%;
            border-radius: 7px;
            border: 1px solid rgba(55, 44, 157, 0.36);
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(55, 44, 157, 0.25);
        }
        .zakaz h2{
            font-size: 21px;
            font-style: normal;
            font-weight: 500;
            color: #372C9D;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 0px;
            padding-left: 15px;
        }
        .zakaz h3{
            padding-right: 15px;
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            padding-top: 26px;
        }
        .zakaz_head{
            border-bottom: 1px solid rgba(55, 44, 157, 0.40);
            width: 100%;
        }
        .zakaz h4{
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            display: inline-block;
            margin-bottom: 0px;
            margin-top: 15px;
        }
        .zakaz_con span{
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
        }
        .zakaz_cont{
            padding-left: 15px;
        }
        .line_zakaz{
            background: rgba(55, 44, 157, 0.40);
            height: 100%;
            width: 1px;
            display: inline-block;
        }
        .zakaz_con button{
            color: var(--gray-10, #FFF);
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            border-radius: 3px;
            background: #372C9D;
            padding: 8px 16px;
            border:none;
            margin-top: 10px;
        }
        .zakaz_con input{
            border-radius: 4px;
            border: 1px solid #565555;
            background: var(--gray-10, #FFF);
            padding: 6px 12px;
            margin-right: 5px;
        }
        .zakazs_h3{
            font-size: 20px !important;
            padding-top: 30px !important;
            padding-bottom: 0px !important;
        }
        .zakaz_head1{
            border-bottom: 0px !important;
        }
        .zakazs_h2{
            padding-bottom: 0px !important;
        }
        .zakaz_btn{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: white;
            border-radius: 3px;
            background: #372C9D;
            padding: 8px 16px;
            margin-left: 15px;
            border: none;
        }
        .zakaz h6{
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            margin-right: 15px;
        }
        .zakazs_h1{
            color: #372C9D;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            margin-top: 35px;
            margin-bottom: 15px;
        }
        .zakaz_btn_zav{
            margin-right: 15px;
            margin-top: 25px;
        }
        .personal_area_under_btn{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: white;
            border-radius: 3px;
            background: #372C9D;
            padding: 8px 16px;
            border:none;
            margin-top: 15px;
        }
        .add_zakaz{
            border-radius: 7px;
            border: 1px solid rgba(0, 0, 0, 0.36);
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(55, 44, 157, 0.25);
            width: 100%;
            padding: 5px 30px 20px 30px;
        }
        .add_zakaz h3{
            color: #372C9D;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            margin-top: 15px;
        }
        .add_zakaz span{
            color: #F53030;
        }
        .add_zakaz input{
            border-radius: 4px;
            border: 1px solid #372C9D;
            background: var(--gray-10, #FFF);
            padding: 6px 12px;
            width: 100%;
        }
        .add_zakaz textarea{
            border-radius: 4px;
            border: 1px solid #372C9D;
            background: var(--gray-10, #FFF);
            padding: 6px 12px;
            width: 100%;
            height: 116px;
        }
        a{
    text-decoration: none !important;
}
        .add_zakaz_btn{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: white;
            border-radius: 3px;
            background: #372C9D;
            padding: 8px 16px;
            border: none;
        }
        .close1 {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
            padding: 0;
            background-color: transparent;
            border: 0;
        }
        .modal-title{
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: #424242;
            display: inline-block;
        }
        .modal_body p{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #757575;
        }
        .modal_btn{
            width: 100%;
            text-align: right;
        }
        .modal_btn button{
            border-radius: 4px;
            background: #372C9D;
            padding: 8px 16px;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: white;
            border: none;
        }
        .modal_btn1{
            color: #2532A9 !important;
            background: #B8B5D7 !important;
        }
        .close1 {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
            padding: 0;
            background-color: transparent;
            border: 0;
        }
        .modal-title{
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: #424242;
            display: inline-block;
        }
        .modal_body p{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: #757575;
        }
        .modal_btn{
            width: 100%;
            text-align: right;
        }
        .modal_btn button{
            border-radius: 4px;
            background: #372C9D;
            padding: 8px 16px;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: white;
            border: none;
        }
        .modal_btn1{
            color: #2532A9 !important;
            background: #B8B5D7 !important;
        }
        .modal_dialog_new{
            padding: 24px 24px 24px 24px;
            border-radius: 13px;
            border: 2px solid rgba(55, 44, 157, 0.36);
            background: #FFF;
            box-shadow: 0px 0px 7px 0px #372C9D;
        }
    </style>
    <div class="modal fade" id="modal-callback" tabindex="-1" role="dialog" aria-labelledby="modal-callbackLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 32 32" fill="none" style="margin-top: -7px; margin-right: 10px;">
                            <g clip-path="url(#clip0_1_3678)">
                                <path d="M16.0001 29.3334C23.3639 29.3334 29.3334 23.3639 29.3334 16.0001C29.3334 8.63628 23.3639 2.66675 16.0001 2.66675C8.63628 2.66675 2.66675 8.63628 2.66675 16.0001C2.66675 23.3639 8.63628 29.3334 16.0001 29.3334Z" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 21.3333V16" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 10.6667H16.0133" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g>
                            <defs>
                                <clipPath id="clip0_1_3678">
                                    <rect width="32" height="32" fill="white" /> </clipPath>
                            </defs>
                        </svg>
                        <h5 class="modal-title" id="modal-callbackLabel">Ввести промокод</h5></div>
                </div>
                <div class="modal-body" style="padding-top: 0px;">
                    <p>Введите свой промокод и получите денежную сумму на ваш баланс. Если промокод не найден, но вы уверены в корректности ввода, обратитесь к модератору сайта или напишите нам на почту email@mail.ru</p>
                    <div style="margin-bottom: 20px;">
                        <input type="text" placeholder="Промокод" id="promocode" style="width: 100%; height: 45px; margin-bottom: 7px;">
                        <h11 id="error_text" style="display:none; color:red">Промокод не найден</h11>
                    </div>
                    <div class="modal_btn">
                        <button id="sendFormBtn">Окей</button>
                        <button id="close_promo" data-bs-dismiss="modal" aria-label="Close" class="modal_btn1">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-callback-save" tabindex="-1" role="dialog" aria-labelledby="modal-callbackLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px;">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 32 32" fill="none" style="margin-top: -7px; margin-right: 10px;">
                            <g clip-path="url(#clip0_1_3678)">
                                <path d="M16.0001 29.3334C23.3639 29.3334 29.3334 23.3639 29.3334 16.0001C29.3334 8.63628 23.3639 2.66675 16.0001 2.66675C8.63628 2.66675 2.66675 8.63628 2.66675 16.0001C2.66675 23.3639 8.63628 29.3334 16.0001 29.3334Z" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 21.3333V16" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 10.6667H16.0133" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g>
                            <defs>
                                <clipPath id="clip0_1_3678">
                                    <rect width="32" height="32" fill="white" /> </clipPath>
                            </defs>
                        </svg>
                        <h5 class="modal-title" id="modal-callbackLabel">Сохранить изменения?</h5>
                    </div>
                </div>
                <div class="modal-body" style="padding-top: 0px;">
                    <p>Вы точно хотите отредактировать этот заказ? Изменения вступят в силу сразу после сохранения и буду отображаться у всех пользователей данного заказа. </p>
                    <div class="modal_btn">
                        <button data-bs-dismiss="modal" aria-label="Close" id="save_edit">Сохранить</button>
                        <button data-bs-dismiss="modal" aria-label="Close" class="modal_btn1">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 pb-5">
        <form class="row" id="edit_order_form">
            <div class="col-12">
                <h1 class="zakazs_h1">Редактирование заказа №{{ order.id }}</h1>
                <div class="add_zakaz">
                    {% if user.role == 'Модератор' or user.role == 'Администратор'%}
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Название <span>*</span></h3>
                            <input type="text" placeholder="Название" value="{{ order.title }}" id="title">
                            <h3>Описание <span>*</span></h3>
                            <textarea placeholder="Описание" id="description">{{ order.description }}</textarea>
                            <h3>Цена</h3>
                            <input type="text" placeholder="Цена" value="{{ order.price }}" id="price">
                            <h3>Срок выполнения</h3>
                            <input type="text" placeholder="Срок" value="{{ order.deadline }}" id="deadline">
                        </div>
                        <div class="col-md-6">
                            <h3>Логин заказчика</h3>
                            <input type="text" placeholder="Логин" value="{{ order.client_id }}" id="client_login">
                            <h3>URL</h3>
                            <input type="text" placeholder="URL" value="{{ order.url }}" id="url">
                            <h3>GitHub</h3>
                            <input type="text" placeholder="GitHub" value="{{ order.git }}" id="github">
                            <h3>Figma</h3>
                            <input type="text" placeholder="Figma" value="{{ order.figma }}" id="figma">
                            <h3>Другое</h3>
                            <input type="text" placeholder="Другое" value="{{ order.other }}" id="other">
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Название <span>*</span></h3>
                            <input type="text" placeholder="Название" value="{{ order.title }}" id="title" disabled>
                            <h3>Описание <span>*</span></h3>
                            <textarea placeholder="Описание" id="description" disabled>{{ order.description }}</textarea>
                            <h3>Цена</h3>
                            <input type="text" placeholder="Цена" value="{{ order.price }}" id="price" disabled>
                            <h3>Срок выполнения</h3>
                            <input type="text" placeholder="Срок" value="{{ order.deadline }}" id="deadline" disabled>
                        </div>
                        <div class="col-md-6">
                            <h3>Логин заказчика</h3>
                            <input type="text" placeholder="Логин" value="{{ order.client_id }}" id="client_login" disabled>
                            <h3>URL</h3>
                            <input type="text" placeholder="URL" value="{{ order.url }}" id="url">
                            <h3>GitHub</h3>
                            <input type="text" placeholder="GitHub" value="{{ order.git }}" id="github">
                            <h3>Figma</h3>
                            <input type="text" placeholder="Figma" value="{{ order.figma }}" id="figma">
                            <h3>Другое</h3>
                            <input type="text" placeholder="Другое" value="{{ order.other }}" id="other">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 mt-4" style="text-align: center;">
                <a data-bs-toggle="modal" data-bs-target="#modal-callback-save">
                    <button class="add_zakaz_btn">Сохранить</button>
                </a>
            </div>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px;">
                <div class="modal-dialog modal_dialog_new" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 0px;">
                            <div>
                                <img src="{{ url_for('static', filename='img/CheckCircle.svg') }}" alt="" style="margin-top: -5px; margin-right: 10px;">
                                <h5 class="modal-title" id="modal-callbackLabel-notif">Заказ отредактирован</h5>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body" style="padding-top: 10px;">
                            <p>Все изменения были внесены, можете вернуться к информации о заказе</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
              <div id="liveToast-promo" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px;">
                <div class="modal-dialog modal_dialog_new" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 0px;">
                            <div>
                                <img src="{{ url_for('static', filename='img/CheckCircle.svg') }}" alt="" style="margin-top: -5px; margin-right: 10px;">
                                <h5 class="modal-title" id="modal-callbackLabel-promo">Промокод применен</h5>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body" style="padding-top: 10px;">
                            <p id="text_promo"></p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </form>
    </div>
    <script>
    $(document).on('click', '#save_edit', function(e) {
        e.preventDefault();
        var form_data = new FormData();
        form_data.append('title', $("#title").val());
        form_data.append('description', $("#description").val());
        form_data.append('price', $("#price").val());
        form_data.append('deadline', $("#deadline").val());
        form_data.append('client_login', $("#client_login").val());
        form_data.append('url', $("#url").val());
        form_data.append('github', $("#github").val());
        form_data.append('figma', $("#figma").val());
        form_data.append('other', $("#other").val());

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/orders/edit/{{ order.id }}',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
                const toastLiveExample = document.getElementById('liveToast')
                const toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
            }
        })
    })
    </script>
{% endblock %}