<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>Rapidly advancing web design and development agency Webline</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo2.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<header>
  <div class="hamburger-menu">
    <div class="row">
      <div class="col-9">
        <div style="text-align: left;">
          <a href="#main"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" style="width: 138px; margin-top: 10px; margin-left: 10px;"></a>
        </div>
      </div>
      <div class="col-3">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle"> <span></span> </label>
        <ul class="menu__box">
          <li class="menu__item1">
            <a href="#main"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" style="width: 138px;"></a>
          </li>
          <li><a class="menu_item" href="#why1" style="padding-right: 0px;">Why choose us</a></li>
          <li><a class="menu_item" href="#usl" style="padding-right: 0px;">Services</a></li>
          <li><a class="menu_item" href="#projects" style="padding-right: 0px;">Projects</a></li>
          <li><a href="#coop" class="menu_item" style="padding-right: 0px;">Careers</a></li>
          <li><a class="menu_item" href="#con" style="padding-right: 0px;">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 menu pt-4">
    <div class="row">
      <div class="col-2" style="text-align: center;">
        <a href="#main"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" style="width: 138px;"></a>
      </div>
      <div class="col-8" style="text-align: center;">
        <div class="menu_block">
          <a href="#why1">
            <div class="menu_item"> Why choose us </div>
          </a>
          <a href="#usl">
            <div class="menu_item"> Services </div>
          </a>
          <a href="#projects">
            <div class="menu_item"> Projects </div>
          </a>
          <a href="#coop">
            <div class="menu_item"> Careers </div>
          </a>
          <a href="#con">
            <div class="menu_item"> Contact </div>
          </a>
        </div>
      </div>
      <div class="col-2" style="text-align: center;">
        <a href="#con">
          <button>Get started</button>
        </a>
      </div>
    </div>
  </div>
</header>

<body>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4554" id="elem">
  Launch
</button>
<!-- Модальное окно -->
<div class="modal fade" id="exampleModal4554" tabindex="-1" aria-labelledby="exampleModal4554" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px;">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 32 32" fill="none" style="margin-top: -7px; margin-right: 10px;">
                            <g clip-path="url(#clip0_1_3678)">
                                <path d="M16.0001 29.3334C23.3639 29.3334 29.3334 23.3639 29.3334 16.0001C29.3334 8.63628 23.3639 2.66675 16.0001 2.66675C8.63628 2.66675 2.66675 8.63628 2.66675 16.0001C2.66675 23.3639 8.63628 29.3334 16.0001 29.3334Z" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 21.3333V16" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16 10.6667H16.0133" stroke="#372C9D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </g>
                            <defs>
                                <clipPath id="clip0_1_3678">
                                    <rect width="32" height="32" fill="white" /> </clipPath>
                            </defs>
                        </svg>
                        <h5 class="modal-title" style="display: inline-block;">Select a role</h5></div>
                </div>
      <div class="modal-footer" style="border-top: 0px;">
        <button type="button" class="btn btn-secondary i_zakaz" data-bs-dismiss="modal">I am a customer</button>
        <button type="button" class="btn btn-primary i_ispol" data-bs-dismiss="modal">I am an agent</button>
      </div>
    </div>
  </div>
</div>
  <section class="main" id="main">
    <div class="container pt-4 pb-5">
      <div class="row">
        <div class="col-lg-6 mt-5 main_content">
          <h2><b>We are</b> a rapidly
            advancing <br>
            <b>web design agency</b>
          </h2>
          <p>Webline - Excellence of web development,
            <br> design and marketing
          </p>
          <div style="text-align: center;" class="mb-5 d-lg-none d-block"> <img src="{{ url_for('static', filename='img/photo.png') }}" alt="" style="width: 80%;"> </div>
          <div class="row">
            <div class="col-xl-5 col-md-6 center_mobile">
              <a href="#projects">
                <button>View projects </button>
              </a>
              <a href="#con" style="text-decoration: none;">
                <button class="d-md-none d-inline-block btn_blue_main">Create a website</button>
              </a>
            </div>
            <div class="col-xl-6 col-md-6 d-md-block d-none" style="text-align: center;">
              <a href="#coop" style="text-decoration: none; color: white;">
                <div class="main_content_align"> <span>Become part of the team</span> <img src="{{ url_for('static', filename='img/strel1.png') }}" alt="" class="main_content_strel"> </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 mt-5 d-lg-block d-none"> <img src="{{ url_for('static', filename='img/photo.png') }}" alt="" style="width: 100%;"> </div>
      </div>
    </div>
  </section>
  <section class="main_and_second"></section>
  <section class="second d-lg-block d-none">
    <div class="container">
      <div class="second_block pt-5 pb-5">
        <div class="row">
          <div class="col-6 mt-5">
            <h4>We are a web design agency WEBLINE</h4>
            <h2>About our agency</h2>
            <p class="second_block_des mb-5">Welcome to our full-service agency focused on web development, web design, and digital marketing! We are a team of professionals offering a full spectrum of services to launch and enhance your online business.
              <br>
              <br> <b>Web development is our calling.</b> We create unique, intuitive, and visually pleasing projects that will help you stand out from your competitors.
              <br>
              <br> <b>Our design is art</b> that catches the eye. We produce unique and compelling designs that reflect your individuality and your company value.
              <br>
              <br> <b>Digital marketing is our passion.</b> We help your business take it to the next level using cutting-edge digital marketing methods.
            </p>
          </div>
          <div class="col-6 mt-5">
            <div class="row">
              <div class="col-4"> <img src="{{ url_for('static', filename='img/photo1.png') }}" alt="" style="width: 100%;"> </div>
              <div class="col-7">
                <h5>Productivity</h5>
                <p class="second_block_plus"> Due to the high qualification of our employees and adoption of innovative technology, we can provide each client with a quality product in a short time without sacrificing functionality or design quality. </p>
              </div>
              <div class="col-4" style="text-align: center;"> <img src="{{ url_for('static', filename='img/photo2.png') }}" alt="" style="width: 80px"> </div>
              <div class="col-7">
                <h5>Creativity</h5>
                <p class="second_block_plus"> Our designers are ready to bring all your ideas to life. We find a personal approach to each client to fine-tune their every request to perfection. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_mob d-lg-none d-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>About our agency</h2>
          <h3>Welcome to our full-service agency focused on web development, web design, and digital marketing! </h3>
          <h3>We are a team of professionals offering a full spectrum of services to launch and enhance your online business.</h3>
          <h4>🖥 Web development</h4>
          <h5> is our calling. </h5>
          <p>We create unique, intuitive, and visually pleasing projects that will help you stand out from your competitors. </p>
          <h4>🎨 Our design </h4>
          <h5> is art</h5>
          <p>that catches the eye. We produce unique and compelling designs that reflect your individuality and your company value.</p>
          <h4>📊 Digital marketing</h4>
          <h5> is our passion.</h5>
          <p>We help your business take it to the next level using cutting-edge digital marketing methods.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about mt-md-5 pt-5 pb-md-5 mb-md-5" id="why1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Why choose us</h4>
          <h2>Top reasons <br>
            to choose <b>WEBLINE</b></h2>
          <div style="text-align: center;" class="mt-5 d-lg-none d-block"> <img src="{{ url_for('static', filename='img/photo3.png') }}" alt="" style="width: 80%;"> </div>
          <p class="d-md-block d-none">1. Project supervision from original idea to uploading the website to hosting.
            <br> 2. Guaranteed work quality.
            <br> 3. Affordable pricing.
            <br> 4. High qualification of the employees.
          </p>
          <div class="row mt-4 mb-3 d-md-none d-flex-block">
            <div class="col-1"> <img src="{{ url_for('static', filename='img/check.svg') }}" alt=""> </div>
            <div class="col-11">
              <h6>Project supervision from original idea to uploading the website to hosting</h6>
            </div>
            <div class="col-1"> <img src="{{ url_for('static', filename='img/check.svg') }}" alt=""> </div>
            <div class="col-11">
              <h6>Guaranteed work quality</h6>
            </div>
            <div class="col-1"> <img src="{{ url_for('static', filename='img/check.svg') }}" alt=""> </div>
            <div class="col-11">
              <h6>Affordable pricing</h6>
            </div>
            <div class="col-1"> <img src="{{ url_for('static', filename='img/check.svg') }}" alt=""> </div>
            <div class="col-11">
              <h6>High qualification of the employees</h6>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-block d-none"> <img src="{{ url_for('static', filename='img/photo3.png') }}" alt="" style="width: 100%;"> </div>
        <div class="col-lg-5 col-md-6 mt-md-5 mt-3">
          <div class="cause">
            <div class="row">
              <div class="col-3" style="text-align: center;"> <img src="{{ url_for('static', filename='img/icon.png') }}" alt=""> </div>
              <div class="col-9">
                <h5>98.5%</h5> <span>of our clients are satisfied with the results</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-md-5 mt-3">
          <div class="cause">
            <div class="row">
              <div class="col-3" style="text-align: center;"> <img src="{{ url_for('static', filename='img/icon1.png') }}" alt=""> </div>
              <div class="col-9">
                <h5>35%</h5> <span>repeatedly apply for our <br class="d-lg-block d-none"> services</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="third_and_fourth"></section>
  <section class="four_yes">
    <div class="container pt-md-5 pb-5">
      <div class="row">
        <div class="col-xl-4 four_yes_center">
          <div class="logo1"> <img src="{{ url_for('static', filename='img/logo1.png') }}" alt=""> </div>
          <h2>4 pros of<br> our websites</h2>
          <h4>Our agency is rapidly developing in all directions related to website creation, we have distinctive features that make us different from other similar companies.</h4>
          <a href="#con" style="text-decoration: none;">
            <button>Order a website</button>
          </a>
        </div>
        <div class="col-xl-8">
          <div class="row pt-5">
            <div class="col-md-10 left_mobile">
              <div class="cause_first">
                <p class="cause_des">We value quality over quantity</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-2 offset-1 col-11 right_mobile">
              <div class="cause_second">
                <p class="cause_des">We will help select and shape an idea
                  <br class="d-lg-none d-md-block d-none"> of a project taking your interest and goals into account
                </p>
              </div>
            </div>
            <div class="col-md-10 left_mobile">
              <div class="cause_first cause_third">
                <p class="cause_des">We can always offer you fresh and selling design solutions that will make your website appealing and memorable</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-2 offset-1 col-11 right_mobile">
              <div class="cause_second cause_fouth">
                <p class="cause_des">Our agency is responsive, we follow
                  <br class="d-lg-none d-none d-md-block"> the trends in development and design
                  <br> that allows our products to stay state-of-the-art
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="fourth_and_fith" id="usl"></section>
  <section class="services mb-md-5 mt-md-5">
    <h2>Our services</h2>
    <div class="container mt-md-5 mt-4">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 mb-md-5 mb-3">
          <div class="row">
            <div class="col-sm-4" style="text-align: center;">
              <div class="uslugi_ex" id="uslugi_ex1">
                <div class="us_img"> <img src="{{ url_for('static', filename='img/us1.png') }}" alt="" id="us_img1"> <img src="{{ url_for('static', filename='img/us11.png') }}" alt="" id="us_img11" style="display: none;"> </div>
                <p>Development</p>

              </div>
            </div>
            <div class="col-sm-4" style="text-align: center;">
              <div class="uslugi_ex uslugi_ex_grey" id="uslugi_ex2">
                <div class="us_img"> <img src="{{ url_for('static', filename='img/us2.png') }}" id="us_img2" alt="" class="design_ravn"> <img src="{{ url_for('static', filename='img/us12.png') }}" id="us_img12" alt="" class="design_ravn" style="display: none;"> </div>
                <p>Design</p>

              </div>
            </div>
            <div class="col-sm-4" style="text-align: center;">
              <div class="uslugi_ex uslugi_ex_grey" id="uslugi_ex3">
                <div class="us_img"> <img src="{{ url_for('static', filename='img/us3.png') }}" id="us_img3" alt=""><img src="{{ url_for('static', filename='img/us13.png') }}" id="us_img13" alt="" style="display: none;"></div>
                <p>Marketing</p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="usl_1">
            <h3>Development</h3>
            <p class="d-lg-block d-none">Open the doors to your success in the online world with our team of professional web developers. We offer a full range of services related to creation of various representative pages to help you achieve your goals in the Internet. From unique designs and intuitive navigation to powerful functions and search engines optimization - we make websites, bots, apps that attract attention and guarantee growth to your business.</p>
            <p class="d-lg-none d-block">Open the doors to your success in the online world with our team of professional web developers. We offer a full range of services related to creation of various representative pages to help you achieve your goals in the Internet.</p>
            <div style="text-align: center;"> <img src="{{ url_for('static', filename='img/photo8.png') }}" alt="" style="width: 80%;" class="d-lg-none d-block"></div>
            <p class="d-lg-none d-block">From unique designs and intuitive navigation to powerful functions and search engines optimization - we make websites, bots, apps that attract attention and guarantee growth to your business.</p>
            <div class="center_mobile">
              <ul>
                <li>Websites of any complexity</li>
                <li>Mobile apps</li>
                <li>Telegram bots
                  <br>and more
                </li>
              </ul>
              <a href="#con" style="text-decoration: none;">
                <button>Get started</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-block d-none">
          <div class="usl_1"> <img src="{{ url_for('static', filename='img/photo8.png') }}" alt="" style="width: 100%;"></div>
        </div>
        <div class="col-lg-6">
          <div class="usl_2">
            <h3>Design</h3>
            <p class="d-lg-block d-none">From professional web design to creation of unique logos and other design work — we offer a full stack of services to let your business stand out in online world. Our team of creative professionals brings your ideas to life as unique and memorable design solutions.</p>
            <p class="d-lg-none d-block">From professional web design to creation of unique logos and other design work — we offer a full stack of services to let your business stand out in online world. </p>
            <div style="text-align: center;"> <img src="{{ url_for('static', filename='img/photo9.png') }}" alt="" style="width: 80%;" class="d-lg-none d-block"></div>
            <p class="d-lg-none d-block">Our team of creative professionals brings your ideas to life as unique and memorable design solutions.</p>
            <div class="center_mobile">
              <ul>
                <li>Website design</li>
                <li>Logo design</li>
                <li>Other design</li>
              </ul>
              <a href="#con" style="text-decoration: none;">
                <button>Get started</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-block d-none">
          <div class="usl_2"> <img src="{{ url_for('static', filename='img/photo9.png') }}" alt="" style="width: 100%;"></div>
        </div>
        <div class="col-lg-6">
          <div class="usl_3">
            <h3>Marketing</h3>
            <p class="d-lg-block d-none">Would you like to attract customers to your website, increase the popularity of your personal page on social networks and maximize your convertion rates by means of contextual ads? We offer a full range of services in online marketing. Our expert team will help you develop effective strategies, optimize your content, set up targeting and manage your advertising campaigns.</p>
            <p class="d-lg-none d-block"> Would you like to attract customers to your website, increase the popularity of your personal page in social metworks and maximize your convertion rates by means of contextual ads? We offer a full range of services in online marketing. </p>
            <div style="text-align: center;"> <img src="{{ url_for('static', filename='img/photo10.png') }}" alt="" style="width: 80%;" class="d-lg-none d-block"></div>
            <p class="d-lg-none d-block"> Our expert team will help you develop effective strategies, optimize your content, set up targeting and manage your advertising campaigns. </p>
            <div class="center_mobile">
              <ul>
                <li>SEO</li>
                <li>Context ads</li>
                <li>Social media marketing
                  <br>and more
                </li>
              </ul>
              <a href="#con" style="text-decoration: none;">
                <button>Get started</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 d-lg-block d-none">
          <div class="usl_3"> <img src="{{ url_for('static', filename='img/photo10.png') }}" alt="" style="width: 100%;"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="third_and_fourth" id="projects"></section>
  <section class="projects">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-xl-6">
          <h2>Our work</h2> <img src="{{ url_for('static', filename='img/strel3.png') }}" alt="" class="projects_strel">
        </div>
        <div class="col-xl-6 mt-xl-0 mt-md-5 col-lg-8 offset-xl-0 offset-lg-2 center_mobile">
          <p class="near_strels">Scroll to
            <br> see all projects
          </p> <img src="{{ url_for('static', filename='img/strel4.png') }}" alt="" class="strels_switch left">
          <img src="{{ url_for('static', filename='img/strel5.png') }}" alt="" class="strels_switch right">
        </div>
        <div class="col-12">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-12 d-block d-lg-none">
          <img src="{{ url_for('static', filename='img/project1.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
        <div class="col-lg-5">
          <div class="one_project first_project viewSlide">
            <p>Client</p>
            <h3>PRO:MOTION SMM agency</h3>
            <p>Problem/request of the client:</p>
            <h4>Business card site development using typography and color accents</h4>
            <div class="skils"> #web_development </div>
            <div class="skils"> #design </div>
            <p>Completed in:</p>
            <h5>1.5 weeks</h5>
          </div>
        </div>
        <div class="col-lg-7 d-lg-block d-none">
          <img src="{{ url_for('static', filename='img/project1.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 d-block d-lg-none">
          <img src="{{ url_for('static', filename='img/project2.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
        <div class="col-lg-5">
          <div class="one_project first_project viewSlide">
            <p>Client</p>
            <h3>Group of companies “Comfortable Environment”</h3>
            <p>Problem/request of the client:</p>
            <h4>Informational site development for a group of companies. Development of the 3 sites for subsidiary companies</h4>
            <div class="skils"> #web_development </div>
            <div class="skils"> #design </div>
            <p>Completed in:</p>
            <h5>3 weeks</h5>
          </div>
        </div>
        <div class="col-lg-7 d-lg-block d-none">
          <img src="{{ url_for('static', filename='img/project2.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 d-block d-lg-none">
          <img src="{{ url_for('static', filename='img/project3.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
        <div class="col-lg-5">
          <div class="one_project first_project viewSlide">
            <p>Client</p>
            <h3>AMAkids, Petrozavodsk</h3>
            <p>Problem/request of the client:</p>
            <h4>Create a website for a Petrozavodsk subsidiary basing on a given brandbook</h4>
            <div class="skils"> #web_development </div>
            <div class="skils"> #design </div>
            <div class="skils"> #seo </div>
            <p>Completed in:</p>
            <h5>1 week</h5>
          </div>
        </div>
        <div class="col-lg-7 d-lg-block d-none">
          <img src="{{ url_for('static', filename='img/project3.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 d-block d-lg-none">
          <img src="{{ url_for('static', filename='img/project4.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
        <div class="col-lg-5">
          <div class="one_project first_project viewSlide">
            <p>Client</p>
            <h3>Digital technology store RFSet</h3>
            <p>Problem/request of the client:</p>
            <h4>Develop an online store basing on given chain store brand identity</h4>
            <div class="skils"> #web_development </div>
            <div class="skils"> #design </div>
            <p>Completed in:</p>
            <h5>2 weeks</h5>
          </div>
        </div>
        <div class="col-lg-7 d-lg-block d-none">
          <img src="{{ url_for('static', filename='img/project4.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 d-block d-lg-none">
          <img src="{{ url_for('static', filename='img/project5.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
        <div class="col-lg-5">
          <div class="one_project first_project viewSlide">
            <p>Client</p>
            <h3>Camouflage suits retailer</h3>
            <p>Problem/request of the client:</p>
            <h4>Make a layout for a website about “anti thermal imager” suit basing in a given design</h4>
            <div class="skils"> #web_development </div>
            <p>Completed in:</p>
            <h5>4 days</h5>
          </div>
        </div>
        <div class="col-lg-7 d-lg-block d-none">
          <img src="{{ url_for('static', filename='img/project5.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-12 d-block d-lg-none">
          <img src="{{ url_for('static', filename='img/project6.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
        <div class="col-lg-5">
          <div class="one_project first_project viewSlide">
            <p>Client</p>
            <h3>EstedentLab. Aesthetic dentistry lab</h3>
            <p>Problem/request of the client:</p>
            <h4>Basing on a company brandbook, create a webpage for contextual advertising of tooth implants</h4>
            <div class="skils"> #web_development </div>
            <div class="skils"> #design </div>
            <p>Completed in:</p>
            <h5>1,5 weeks</h5>
          </div>
        </div>
        <div class="col-lg-7 d-lg-block d-none">
          <img src="{{ url_for('static', filename='img/project6.png') }}" alt="" style="width: 100%;" class="first_project">
        </div>
      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">

  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">

  </button>
</div>
        </div>
      </div>
    </div>
  </section>
  <section class="fourth_and_fith"></section>
  <section class="rev_and_coop" id="coop"></section>
  <section class="cooperation">
    <div class="container pb-5 pt-sm-5">
      <div class="row">
        <div class="col-xl-8">
          <h2>Careers in WEBLINE</h2>
          <h3>Join the team of professionals</h3>
          <div class="row">
            <div class="col-lg-4 mt-sm-5">
              <p class="p_switch p_ans" id="p1">Web developer</p>
              <p class="p_switch" id="p2">Motion designer</p>
              <p class="p_switch" id="p3">Web designer</p>
              <p class="p_switch" id="p4">SMM specialist</p>
            </div>
            <div class="col-lg-8 mt-sm-5 first_vac">
              <div class="one_need"> <span>Position:</span>
                <h4>Web developer</h4>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <div class="one_need"> <span>Job description:</span>
                    <br>
                    <p>Developing websites of different complexity</p>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="one_need" style="text-align: center; padding-right: 0px;
                                    padding-left: 0px; padding-bottom: 34px;"> <span>Experience:</span>
                    <br>
                    <h4 style="padding-left: 0px; margin-top: 15px;">from 2 years</h4>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>We expect:</span>
                    <br>
                    <ul>
                      <li>Skills in HTML</li>
                      <li>Skills in CSS</li>
                      <li>Knowledge of JS</li>
                      <li>Other</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>Will be an advantage:</span>
                    <br>
                    <ul>
                      <li>Familiarity with various frameworks</li>
                      <li>Experience with no-code constructors</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 mt-sm-5  second_vac">
              <div class="one_need"> <span>Position:</span>
                <h4>Motion designer</h4>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <div class="one_need"> <span>Job description:</span>
                    <br>
                    <p>Creating animated graphic elements </p>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="one_need" style="text-align: center; padding-right: 0px;
                                    padding-left: 0px; padding-bottom: 34px;"> <span>Experience:</span>
                    <br>
                    <h4 style="padding-left: 0px; margin-top: 15px;">from 2 years</h4>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>We expect:</span>
                    <br>
                    <ul>
                      <li>creative thinking</li>
                      <li>knowledge of Adobe After Effects</li>
                      <li>knowledge of Adobe Premiere Pro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>Will be an advantage:</span>
                    <br>
                    <ul>
                      <li style="font-size: 15px">Cinema 4D and Blender skills</li>
                      <li style="font-size: 15px;">knowledge of English</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 mt-sm-5  third_vac">
              <div class="one_need"> <span>Position:</span>
                <h4>Web designer</h4>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <div class="one_need"> <span>Job description:</span>
                    <br>
                    <p>Interface design and development, creating website layout </p>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="one_need" style="text-align: center; padding-right: 0px;
                                    padding-left: 0px; padding-bottom: 34px;"> <span>Experience:</span>
                    <br>
                    <h4 style="padding-left: 0px; margin-top: 15px;">from 2 years</h4>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>We expect:</span>
                    <br>
                    <ul>
                      <li>knowledge of UI/UX principles, styling and typography</li>
                      <li>understanding of the basics of front-end development </li>
                      <li>Figma skills</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>Will be an advantage:</span>
                    <br>
                    <ul>
                      <li>knowledge of the basics of marketing</li>
                      <li>knowledge of the basics of motion design</li>
                      <li>3d modelling apps skills</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 mt-sm-5  fourth_vac">
              <div class="one_need"> <span>Position:</span>
                <h4>SMM specialist</h4>
              </div>
              <div class="row">
                <div class="col-sm-7">
                  <div class="one_need"> <span>Job description:</span>
                    <br>
                    <p>Content creation (writing text, choosing visuals, etc.), target audience analysis, content and ad effectiveness analysis </p>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="one_need" style="text-align: center; padding-right: 0px;
                                    padding-left: 0px; padding-bottom: 34px;"> <span>Experience:</span>
                    <br>
                    <h4 style="padding-left: 0px; margin-top: 15px;">from 2 years</h4>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>We expect:</span>
                    <br>
                    <ul>
                      <li>skills of writing engaging texts</li>
                      <li>knowledge of the basics of marketing, advertising </li>
                      <li>analytical and strategic skills</li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="one_need one_need_h"> <span>Will be an advantage:</span>
                    <br>
                    <ul>
                      <li>PR skills</li>
                      <li>creativity and organizational skills</li>
                      <li>knowledge of social networks</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 mt-5 d-lg-block d-none"> <img src="{{ url_for('static', filename='img/photo11.png') }}" alt="" style="width: 100%;"> </div>
        <div class="col-12 d-lg-none d-block mt-5" style="text-align: center;"> <img src="{{ url_for('static', filename='img/photo11.png') }}" alt="" style="width: 80%;"> </div>
        <div class="col-sm-9 offset-lg-3 offset-sm-1 mt-sm-5 mt-3">
          <div class="row">
            <div class="col-md-5">
              <div class="coop_tog">
                <p>Contact us to discuss the conditions in detail</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="coop_tog">
                <a href="#con" style="text-decoration: none;">
                  <button>Contact us</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="promotion">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-sm-6">
          <h3>Call us</h3>
          <p>In case you have questions or you would like to contact us to discuss your project, dial the number below and we will most surely take the time to address all your questions.</p>
          <h4>+7 (993) 346-05-91</h4>
        </div>
        <div class="col-sm-6 right_mob">
          <h3>Do not miss the chance</h3>
          <p style="max-width: 445px">Recently Internet services have become part and parcel of our lives, we recognize that and are ready to offer you the implementation of your ideas at a fairly appealing price.</p>
          <h5>Our websites</h5>
          <h6>from 17 890 ₽</h6>
        </div>
      </div>
    </div>
  </section>
  <section class="contacts" id="con">
    <div class="container pt-sm-5 pb-5">
      <div class="row">
        <div class="col-lg-6 d-lg-block d-none"> <img src="{{ url_for('static', filename='img/photo7.png') }}" alt="" style="width: 100%;"> </div>
        <div class="col-lg-6">
          <h2>Contact us!</h2>
          <p>Don't hesitate to tell us about yourself, we will work out the best option for you and your project. Don't like filling in forms? Then e-mail us to <span>weblinecompany@mail.ru</span></p>
          <form class="row" id="contact_us">
            <div class="col-sm-6">
              <input type="text" placeholder="Ваше имя" class="contacts_form" id="name">
            </div>
            <div class="col-sm-6">
              <input type="text" placeholder="Компания" class="contacts_form" id="company">
            </div>
            <div class="col-sm-6">
              <input type="text" placeholder="Email" class="contacts_form" id="email">
            </div>
            <div class="col-sm-6">
              <input type="text" placeholder="Телефон" class="contacts_form" id="phone">
            </div>
            <div class="col-12">
              <textarea name="" placeholder="Сообщение" class="contacts_form" id="message"></textarea>
            </div>
            <div class="col-12 mt-4" style="text-align: center;">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
        <div class="col-12 d-lg-none d-block"> <img src="{{ url_for('static', filename='img/photo12.png') }}" alt="" style="width: 100%;"> </div>
      </div>
    </div>
  </section>
</body>
<footer>
  <div class="container foot">
    <div class="row">
      <div class="line mb-3"></div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-sm-5 foot_center">
            <div class="row">
              <div class="col-3 col-sm-12"> <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="" class="foot_logo"> </div>
              <div class="col-9 col-sm-12">
                <p>Webline - exellence of web development, web design and marketing</p>
              </div>
            </div>
          </div>
          <div class="col-7 mt-4">
            <div class="row">
              <div class="col-6 d-sm-block d-none">
                <h4>Navigation</h4> <a href="#why1">
                  <h6>Why choose us</h6>
                </a> <a href="#usl">
                  <h6>Services</h6>
                </a> <a href="#projects">
                  <h6>Projects</h6>
                </a> <a href="#coop">
                  <h6>Careers</h6>
                </a> <a href="#con">
                  <h6>Contact</h6>
                </a>
              </div>
              <div class="col-sm-6">
                <h4>Services</h4>
                <h6>Development</h6>
                <h6>Design</h6>
                <h6>Marketing</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-12 mt-4">
            <h4>Contact</h4> <img src="{{ url_for('static', filename='img/ic1.png') }}" alt="" class="foot_ic"> <span class="foot_ic_text">+7 (993) 346-05-91</span>
            <br>
            <br> <img src="{{ url_for('static', filename='img/ic3.png') }}" alt="" class="foot_ic"> <span class="foot_ic_text">weblinecompany@mail.ru</span>
          </div>
        </div>
      </div>
      <div class="line mb-3 mt-4"></div>
      <div class="col-12 mb-4" style="text-align: right;"> <span class="under_foot">© Webline 2023</span> </div>
    </div>
  </div>
</footer>
<!-- Вариант 1: пакет jQuery и Bootstrap (включает Popper) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<!-- Подключение jQuery плагина Owl carousel -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<!-- Подключение jQuery плагина Masked Input -->
<script src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.spincrement.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/maskedinput.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/miScript.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
<script crossorigin="anonymous" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/form-processing.js') }}"></script>
<script>
  function myFunction() {
  	var x = document.getElementById("myTopnav");
  	if(x.className === "topnav") {
  		x.className += " responsive";
  	} else {
  		x.className = "topnav";
  	}
  }
</script>
<script>
  document.getElementById('link1').onclick = handler;

  function handler() {
  	var x = document.getElementById("myTopnav");
  	if(x.className === "topnav") {
  		x.className += " responsive";
  	} else {
  		x.className = "topnav";
  	}
  }
</script>
<script>
  document.getElementById('link2').onclick = handler;

  function handler() {
  	var x = document.getElementById("myTopnav");
  	if(x.className === "topnav") {
  		x.className += " responsive";
  	} else {
  		x.className = "topnav";
  	}
  }
</script>
<script>
  document.getElementById('link3').onclick = handler;

  function handler() {
  	var x = document.getElementById("myTopnav");
  	if(x.className === "topnav") {
  		x.className += " responsive";
  	} else {
  		x.className = "topnav";
  	}
  }
</script>
<script>
  document.getElementById('link4').onclick = handler;

  function handler() {
  	var x = document.getElementById("myTopnav");
  	if(x.className === "topnav") {
  		x.className += " responsive";
  	} else {
  		x.className = "topnav";
  	}
  }
</script>
<script>
  $(document).ready(function() {
  	const slider = $("#slider").owlCarousel({
  		loop: true,
  		margin: 20,
  		autoplay: Boolean,
  		autoplayTimeout: 2000,
  		responsive: {
  			100: {
  				items: 2
  			},
  			600: {
  				items: 3
  			},
  			1000: {
  				items: 4
  			}
  		}
  	});
  });
</script>
<script>
  $('#uslugi_ex1').click(function() {
  	$('.usl_1').css('display', 'block')
  	$('.usl_2').css('display', 'none')
  	$('.usl_3').css('display', 'none')
  	$('#usl13').addClass('square_blue')
  	$('#usl11').removeClass('square_blue')
  	$('#usl12').addClass('square_blue')
  	$('#uslugi_ex1').removeClass('uslugi_ex_grey')
  	$('#uslugi_ex2').addClass('uslugi_ex_grey')
  	$('#uslugi_ex3').addClass('uslugi_ex_grey')
  	$('#us_img2').css('display', 'inline-block')
  	$('#us_img3').css('display', 'inline-block')
  	$('#us_img1').css('display', 'inline-block')
  	$('#us_img12').css('display', 'none')
  	$('#us_img13').css('display', 'none')
  	$('#us_img11').css('display', 'none')
  });
  $('#uslugi_ex2').click(function() {
  	$('.usl_1').css('display', 'none')
  	$('.usl_2').css('display', 'block')
  	$('.usl_3').css('display', 'none')
  	$('#usl13').addClass('square_blue')
  	$('#usl11').addClass('square_blue')
  	$('#usl12').removeClass('square_blue')
  	$('#uslugi_ex1').addClass('uslugi_ex_grey')
  	$('#uslugi_ex2').removeClass('uslugi_ex_grey')
  	$('#uslugi_ex3').addClass('uslugi_ex_grey')
  	$('#us_img2').css('display', 'none')
  	$('#us_img12').css('display', 'inline-block')
  	$('#us_img11').css('display', 'inline-block')
  	$('#us_img1').css('display', 'none')
  	$('#us_img13').css('display', 'none')
  	$('#us_img3').css('display', 'inline-block')
  });
  $('#uslugi_ex3').click(function() {
  	$('.usl_1').css('display', 'none')
  	$('.usl_2').css('display', 'none')
  	$('.usl_3').css('display', 'block')
  	$('#usl13').removeClass('square_blue')
  	$('#usl11').addClass('square_blue')
  	$('#usl12').addClass('square_blue')
  	$('#uslugi_ex1').addClass('uslugi_ex_grey')
  	$('#uslugi_ex2').addClass('uslugi_ex_grey')
  	$('#uslugi_ex3').removeClass('uslugi_ex_grey')
  	$('#us_img11').css('display', 'inline-block')
  	$('#us_img1').css('display', 'none')
  	$('#us_img2').css('display', 'inline-block')
  	$('#us_img12').css('display', 'none')
  	$('#us_img3').css('display', 'none')
  	$('#us_img13').css('display', 'inline-block')
  });

</script>
<script>
$(document).on('submit', '#contact_us', function(e) {
    e.preventDefault();
    if (!$("#name").val() || !$("#company").val() || !$("#email").val() || !$("#phone").val() || !$("#message").val()) {
        return console.log('fill fields');
    }
    var form_data = new FormData();
    form_data.append('name', $("#name").val());
    form_data.append('company', $("#company").val());
    form_data.append('email', $("#email").val());
    form_data.append('phone', $("#phone").val());
    form_data.append('message', $("#message").val());

    $.ajax({
        type: 'POST',
        dataType: 'json',
        url: '/',
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        success: function(data) {
            console.log(data);
            $("#name").val('');
            $("#company").val('');
            $("#email").val('');
            $("#phone").val('');
            $("#message").val('');
        }
    })
})
</script>
<script>
  setTimeout(function(){
  $('#elem').trigger('click');
}, 3000);
</script>
<script>
  $('.i_ispol').click(function() {
        setTimeout(function(){
        window.location.href = "#coop";
      }, 500);
        });
</script>
<script>
$('.left').click(function() {
  $('.carousel-control-prev').trigger('click');
});
$('.right').click(function() {
  $('.carousel-control-next').trigger('click');
});
</script>
</body>

</html>